table {
    border: 1px solid;
    thead {
      th {
        border: 1px solid;
        padding: 5px 10px;
      }
    }
    tbody {
      td {
        border: 1px solid;
        padding: 5px 10px;
      }
    }
  }
  